@import "./dropdown-header.vars";

:host {
  @include font-smoothing();

  > a {
    flex: 1;
    border: 0;
    box-sizing: border-box;
    height: $grid-unit;
  }

  transition: all ease-in 80ms;
}
