@import "./inspector-group";
@import "./inspector-group.dark.vars";

:host {
  border-top: 1px solid neos-color($colors-dark, 'dark');
  border-bottom: 1px solid neos-color($colors-dark, 'dark');
  margin-top: -1px;

  .content-wrapper {
    transition: max-height 600ms ease-in-out;
    max-height: 0;
    overflow: hidden;

    &--open {
      max-height: 1000px;
    }
  }

  .content {
    padding: $content-padding $content-padding-small;
  }
}
