@import "./inspector-group";
@import "./inspector-group.dark.vars";

:host {
  border-top: 1px solid neos-color($colors-dark, 'dark');
  border-bottom: 1px solid neos-color($colors-dark, 'dark');
  margin-top: -1px;

  .content {
    padding: $content-padding
  }
}
