@import "./inspector-group.vars";

:host {
  @include font-smoothing();

  display: block;

  header {
    display: flex;
    align-items: center;
  }

  .toggle {
    margin-left: auto;
  }

  .content-wrapper {
    height: auto;
    overflow: hidden;

    &--open {
      height: 0;
    }

    &--visible {
      overflow: visible;
    }
  }
}
