@import "./inspector-group.vars";

:host {
  @include font-smoothing();

  display: block;

  header {
    display: flex;
    align-items: center;
  }

  .toggle {
    margin-left: auto;
  }

  .content-wrapper {
    overflow: hidden;
    height: auto;

    &--closed {
      height: 0;
    }
  }
}
