@import "./icon.vars";
@import "https://use.fontawesome.com/releases/v5.1.0/css/all.css";

:host {
  @include font-smoothing();

  display: inline-block;

  .l-squared {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $grid-unit;
    width: $grid-unit;
  }
}
