@import "./icon.vars";

:host {
  @include font-smoothing();

  display: inline-block;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;

  .l-squared {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $grid-unit;
    width: $grid-unit;
  }
}
