:root {

  /**
   * Colors
   */

  --neos-color-primary-violet: #26224C;
  --neos-color-primary-blue: #00ADEE;

  --neos-color-contrast-darkest: #141414;
  --neos-color-contrast-darker: #222;
  --neos-color-contrast-dark: #3f3f3f;
  --neos-color-contrast-neutral: #323232;
  --neos-color-contrast-bright: #999;
  --neos-color-contrast-brighter: #adadad;
  --neos-color-contrast-brightest: #FFF;

  --neos-color-text-default: #FFF;
  --neos-color-text-inversed: #141414;

  --neos-color-success: #00a338;
  --neos-color-warn: #ff8700;
  --neos-color-error: #ff460d;

  --neos-color-unchecked-checkbox-tick: #5B5B5B;

  /**
   * Layout
   */

  --neos-golden-unit: 2.5rem;
  --neos-unit-full: 1rem;
  --neos-unit-half: 0.5rem;
  --neos-unit-quarter: 0.25rem;

  --neos-sidebar-width: 320px;

  /**
   * Transitions
   */

  --neos-transition-fast: 100ms;
  --neos-transition-default: 300ms;
  --neos-transition-slow: 500ms;

  /**
   * Fonts
   */

  --neos-font-family-default: "Open Sans", Helvetica, serif;

  --neos-font-weight-light: 300;
  --neos-font-weight-normal: 400;
  --neos-font-weight-bold: 600;
  --neos-font-weight-bolder: 700;

  --neos-font-size-base: 0.875rem;
  --neos-font-size-small: 0.75rem;
}

body, html {
  background-color: var(--neos-color-contrast-darker);
}
