@import "./dropdown-item.vars";

:host {
  @include font-smoothing();

  display: block;

  .dropdown-item {
    flex: 1;
    border: 0;
    box-sizing: border-box;
    height: $grid-unit;
    line-height: $grid-unit;

    transition: all ease-in 50ms;
  }

}
