@import "./form-input-wrapper";
@import "./form-input-wrapper.dark.vars";

:host {
  display: flex;
  color: $text-dark-color-value;
  font-family: $font-family-dark-base;
  font-weight: 400;
  font-size: $font-size-dark-base;
  line-height: 1.1;

  .label-wrapper {
    flex: 1;
    flex-wrap: wrap;
  }

  .metadata {
    margin-left: auto;
  }

  .content {
    display: flex;
    align-items: center;
    flex: 1 0 100%;
    margin-top: $content-margin-medium;
  }
}
