@import "./inspector-group-header.vars";

:host {
  @include font-smoothing();

  display: block;

  header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .toggle {
    margin-left: auto;
  }
}
