@import "./form-input.vars";

:host {
  @include font-smoothing();

  display: block;

  input {
    flex: 1;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    height: $grid-unit;
    line-height: $grid-unit;
    margin: 0;

    transition: all ease-in 180ms;
  }

  .input {
    display: flex;
    align-items: center;
  }
}
