@import "./form-input.vars";

:host {
  @include font-smoothing();

  display: block;

  input {
    width: 100%;
    border: 0;
    box-sizing: border-box;
    height: $grid-unit;
    line-height: $grid-unit;

    transition: all ease-in 100ms;
  }
}
