@import "./form-input";
@import "./form-input.dark.vars";

:host {
  color: $text-dark-color-value;
  font-family: $font-family-dark-base;
  font-weight: 400;
  font-size: $font-size-dark-base;
  line-height: 1.1;
  margin-bottom: $content-dark-margin;

  input {
    background-color: $background-dark-color;
    border: 0;
    outline: 1px solid transparent;
    outline-offset: 0;
    box-sizing: content-box;
    color: inherit;

    padding: 0 $content-padding;

    &:focus:enabled,
    &:hover:enabled {
      outline: 2px solid neos-color($colors-dark, 'primary');
      outline-offset: -2px;
    }

    &:focus:enabled {
      background-color: neos-color($colors-dark, 'brightest');
      color: neos-color($colors-dark, 'brightest', 'contrast');
      outline: 2px solid neos-color($colors-dark, 'brightest');
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: .85;
    }
  }
}
