@import "./button.vars";

:host {
  @include font-smoothing();

  display: inline-block;

  button {
    border: 0;
    box-sizing: border-box;
    cursor: pointer;

    transition: all ease-in-out 100ms;
  }

  neos-icon {
    margin-right: .3em;
  }
}

neos-icon {
  margin-right: .3em;
}
