@import "./button.vars";

:host {
  @include font-smoothing();

  display: inline-block;

  button {
    display: inline-flex;
    align-items: center;

    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: $grid-unit;
    line-height: $grid-unit;

    transition: all ease-in-out 100ms;

    ::slotted(neos-icon) {
      margin-right: .4em;
    }

    &.l-squared {
      ::slotted(neos-icon) {
        margin-right: 0;
      }  
    }
  }
}
